##############################################################
#
# List of approvers/reviewers for RaFa
#
##############################################################
#
# Get in touch with us via the RaFa Community
#  https://github.com/rafa/community
# 
#
#

# These owners will be the default owners for everything in the repo.
* @rajnavakoti @ph4r5h4d @lucatodeschini